[MASTER]
disable=missing-docstring,invalid-name,import-error,broad-except,unused-argument,unused-variable,too-few-public-methods,missing-timeout,broad-exception-raised,too-many-instance-attributes,multiple-imports,line-too-long
